$main-color: #b6de62;
$delete-messaga: #c6d99d;
$calendar-body-color: lighten(#b6de62, 30%);
$title-color: darken(#4c7c42, 30%);
$calendar-meeting: #4c7c42;
$new-event-btns: rgba(186, 199, 190, 0.3);

$main-font: 'Roboto', sans-serif;

@mixin font-navbar {
  font-family: $main-font;
  font-size: 1.6rem;
  font-weight: 300;
  color: #3b3b3b;
}

@mixin flex-align-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

html {
  font-size: 62.5%;
  font-family: $main-font;
}

body {
  background-color: rgba($main-color, 0.1);
}

.calendar-wrapper {
  height: 100vh;
  width: 100%;
  max-width: 96rem;
  min-width: 48rem;
  margin: 0 auto;
  position: relative;
}

.calendar__main-page {
  position: absolute;
  width: 100%;
  top: calc(50%);
  transform: translateY(-54%);
}

.successful-message {
  position: absolute;
  width: 100%;
  height: 5rem;
  background-color: rgba(115, 243, 158, 0.534);
  top: 0;
  padding: 0 10%;
  font-size: 1.8rem;
  transition: all 0.3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-container,
.delete-popup-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 2;

  %popup {
    position: relative;
    top: 30%;
    border: 2px solid darken($main-color, 30%);
    border-radius: 6px;
    background-color: $delete-messaga;
    margin: 0 auto;
    padding: 2rem 3rem;

    p {
      text-align: center;
      margin-bottom: 2rem;
    }
  }

  .delete-popup {
    @extend %popup;
    width: 40rem;

    &__btns {
      width: fit-content;
      margin: 0 auto;

      button {
        background-color: lighten(#b6de62, 20%);

        &:first-child {
          margin-right: 3rem;
        }
      }
    }
  }

  .authorise-popup {
    @extend %popup;
    width: 38rem;

    &__select {
      margin: 2.6rem 4rem;
      height: 3.6rem;
    }

    &__btns {
      width: fit-content;
      margin: 0 auto;

      button {
        background-color: lighten(#b6de62, 20%);
      }
    }
  }
}

// Header
.calendar-header {
  @include flex-align-center;
  height: 8rem;
  margin-bottom: 2rem;

  &__navbar {
    display: flex;
    align-items: flex-end;
  }

  &__authorized-wrapper {
    @include flex-align-center;
    flex-direction: column;
  }

  &__authorized {
    margin: 0.6rem 2rem 0;
    border: 2px solid darken($main-color, 60%);
    background-color: #fff;
  }

  &__new-ivent {
    @include font-navbar;
    outline: none;
    width: 16rem;
    height: 4rem;
    border: 2px solid $title-color;
    padding: 0 1rem;
    margin-left: 2rem;
    font-family: $main-font;
    font-size: 1.6rem;
    background-color: lighten($main-color, 70%);
    appearance: none;
  }

  &__select-wrapper {
    position: relative;
    user-select: none;
    width: 16rem;
  }

  &__select {
    position: relative;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: darken($main-color, 60%);
  }

  &__trigger {
    @include font-navbar;
    @include flex-align-center;
    position: relative;
    padding: 0 1rem;
    height: 4rem;
    background: #fff;
    cursor: pointer;
    border: 2px solid darken($main-color, 60%);
  }

  &__options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    border: 2px solid darken($main-color, 50%);
    border-top: 0;
    background: #fff;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
  }

  &__select.open &__options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  &__option {
    position: relative;
    display: block;
    padding: 0 2rem;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2rem;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      cursor: pointer;
      background-color: lighten($main-color, 20%);
    }

    &.selected {
      color: #fff;
      background-color: darken($main-color, 20%);
    }
  }

  .arrow {
    position: relative;
    height: 12px;
    width: 12px;

    &::before,
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 0.12rem;
      height: 100%;
      transition: all 0.5s;
    }

    &::before {
      left: -4px;
      transform: rotate(-45deg);
      background-color: #000;
    }

    &::after {
      left: 4px;
      transform: rotate(45deg);
      background-color: #000;
    }
  }

  .open .arrow::before {
    left: -4px;
    transform: rotate(45deg);
  }

  .open .arrow::after {
    left: 4px;
    transform: rotate(-45deg);
  }
}

// Callendar
.calendar {
  width: 100%;
  border: 1px solid darken($main-color, 50%);
  border-bottom: 0;

  tr {
    height: 4rem;
    display: flex;

    th,
    td {
      width: calc(100% / 6);
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border: 1px solid darken($main-color, 50%);
      border-collapse: collapse;
    }
  }

  &__top-row {
    background-color: darken(rgba($main-color, 0.2), 20%);
  }

  &__row td {
    font-size: 1.6rem;
  }

  &__meeting-space {
    width: 100%;
    height: 100%;

    &:hover #remove-meeting {
      display: inline-block;
    }

    &:hover .calendar__meeting {
      width: 90%;
    }
  }

  .occupied {
    padding: 0 0.8rem;
    background-color: darken(rgba($main-color, 0.6), 10%);
  }

  &__meeting-wrapper {
    @include flex-align-center;
    width: 100%;
    height: 100%;
  }

  .hold {
    border: 1px solid darken($main-color, 50%);
  }

  &__meeting {
    width: 100%;
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  #remove-meeting {
    display: none;
  }
}

input,
select,
.new-event__participants {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 24rem;
  font-size: 1.6rem;
  border-radius: 4px;
  padding: 2px 10px;
  border: 0.5px solid #d3d3d3;
  background-color: #fff;
}

.new-event__participants {
  @include flex-align-center;
  padding-right: 3rem;
}

.styled-select::after,
.new-event__participants::after {
  position: absolute;
  content: '';
  top: 50%;
  right: 1.6rem;
  width: 1rem;
  height: 1rem;
  transform: translateY(-60%) rotate(45deg);
  border: 1px solid #000;
  border-width: 0 2px 2px 0;
}

.up::after {
  height: 1rem;
  width: 1rem;
  transform: rotate(-135deg);
  margin-bottom: -1rem;
}

.styled-select .decorated {
  appearance: none;
}

.styled-select {
  position: relative;
}

// New event
.new-event {
  @extend .calendar__main-page;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-row-gap: 3.6rem;

  &__warning {
    @include flex-align-center;
    position: absolute;
    width: 100%;
    height: 5rem;
    background-color: rgba(240, 36, 36, 0.5);
    top: 0;
    padding: 0 10%;
    font-size: 1.8rem;
    z-index: 1;

    &-message {
      margin-left: 3rem;
    }

    span {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__feilds {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 2rem;
    align-items: center;

    > * {
      @include flex-align-center;
      height: 3.8rem;
      font-size: 2rem;
    }
  }

  &__participants-menu {
    position: absolute;
    top: 9.6rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 28.8rem;
    max-height: 16rem;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 300;

    .menu-option {
      padding: 2px 1rem;
      font-size: 1.8rem;
      cursor: pointer;

      &:hover,
      &:active {
        background-color: rgba(102, 146, 240, 0.658);
        color: #fff;
      }
    }

    .selected-person {
      background-color: rgba(102, 146, 240, 0.658);
      color: #fff;
    }
  }

  &__btns {
    grid-row: 2;
    grid-column: 2;

    > * {
      background-color: $new-event-btns;
      font-weight: 500;
    }

    button[type='submit'] {
      margin-left: 2rem;
    }
  }
}

// Other
.cup {
  cursor: pointer;
}

.d-none {
  display: none;
}

.disabled-btn {
  border-color: rgba(153, 151, 151, 0.8);
  background-color: rgba(184, 181, 181, 0.3);
  color: #808080;
}

button {
  width: 11rem;
  height: 3.4rem;
  font-size: 1.6rem;
  border: 1px solid $title-color;
  border-radius: 2px;
}
