.roboto-36 {
  font-family: $main-font;
  font-size: 3.6rem;
}

.roboto-18 {
  font-family: $main-font;
  font-size: 1.8rem;
}

.green-title-text {
  color: $title-color;
}

.semibold-text {
  font-weight: 500;
}

.bold-text {
  font-weight: 700;
}

.user-select {
  user-select: none;
}
