$main-color: #b6de62;
$delete-messaga: #c6d99d;
$calendar-body-color: lighten(#b6de62, 30%);
$title-color: darken(#4c7c42, 30%);
$calendar-meeting: #4c7c42;
$new-event-btns: rgba(186, 199, 190, 0.3);

$main-font: 'Roboto', sans-serif;
